<article id="art-bienfaits" class='hidden'>
    <header>
        <h2>Bienfaits</h2>
    </header>
    <section>
        Voici quelques indications de la somatopathie :
        <ul>
            <li>douleurs articulaires, vertébrales, et les névralgiques qui en découlent: sciatalgies,      cruralgies, lombalgies, cervicalgies, et aussi les problèmes de scoliose débutante, ...</li>
            <li>traumatismes sportifs et séquelles de chutes: entorses, fractures, douleurs, ...</li>
            <li>problématiques récurrentes ou/et chroniques: otites, acouphènes et vertiges, maux   de tête, malaises vagaux, troubles du sommeil, fatigue, fibromyalgie, algodystrophie, ...</li>
            <li>problématiques de croissance (maladie de SCHEUERMAN, OSGOOD-SHLATTER...)</li>
            <li>accompagnement de la femme enceinte, de la jeune maman et son bébé</li>
            <li>accompagnement de confort de certaines maladie lourdes</li>
            <li>symptômes liés à des chocs physiques et/ou émotionnels</li>
            <li>outil dans le suivi post-opératoire</li>
        </ul>
    </section>
</article>