<article id="art-liens" class='hidden'>
    <header>
        <h1>Liens</h1>
    </header>
    <section>
        <ul>
            <li><a href ='http://www.somatopathie.com/'>D&eacute;couvrir le site de l'&eacute;cole</a></li>
            <li><a href='http://www.somatopathie.fr/accueil#%21__accueil'>Plus d'infos sur la méthode</a></li>
        </ul>
    </section>
    <footer>
    </footer>
</article>