<article id="art-parcours"  class='hidden'>
    <header>
        <h1>Parcours</h1>
    </header>
    <section>
        <p>Après de Multiples expériences dans le monde de la télécommunication (16 ans) en tant que Développeur, Formateur et Management de Projet/Equipe, j'ai eu l'opportunité d'approfondir ma connaissance de l'être à travers la voie du yoga. 

Enseignant de Yoga depuis 4 ans, je propose des cours en entreprise et en milieu associatif. 

J'ai enrichi ce parcours par la formation de Somatopathie: 
   - Soma = le corps 
   - Empathie = faculté intuitive de se mtrre à la place d'autrui, et percevoir ce qu'il ressent 

A travers une séance, mon souhait est de vous accompagner dans votre projet de bien être et vous aider au mieux dans le soulagement de vos problématiques. </p>
    </section>
    <footer>
    </footer>
</article>